@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.menu {
    position: absolute; 
    top: 0;
    right: 0px; 
    width: 300px; 
    height: 100%;
    color: #fff;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 10px 10px 40px;
  }
  
  .menu div {
    font-size: 24px;
    margin: 0px 0;
  }
  
  .menu a {
    all: unset;
    cursor: pointer;
    padding: 4px 5px;
    display: block;
    width: 100%;
  }
  
  .menu a:hover {
    color: orange;
  }
  
  
  .dropdown {
    position: relative;
    width: 100%;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    left: -10px;
    background: rgb(0, 0, 0);
    width: 250px;
    display: none;
    padding: 0px 10px 10px 30px;
  }
  
  .dropdown-content div {
    margin: 5px 0;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  gmp-map {
    height: 500px;
    width: 500px;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
