@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #fff;
  position: relative;
  font-family: 'Poppins', sans-serif;
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
} 

header {
  background-color: black;
  color: white;
  text-align: center;
  height: 80px;
  line-height: 80px;
  position: fixed;
  left: 0;
  right: 0; 
  top: 0; 
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
  
}

.header-content img {
  position: absolute;
  left: 15px;
  top: 15px;
}

.header-content a {
  all: unset;
  cursor: pointer;
  padding: 5px;
}

.menu-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  z-index: 1001;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
.menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  color: #fff;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 10px 10px 40px;
  transition: right 0.4s ease;
  z-index: 1000;
}

.menu.open {
  right: 0;
}

.menu div {
  font-size: 24px;
  margin: 0px 0;
}

.menu a {
  all: unset;
  cursor: pointer;
  display: block;
  padding: 4px 5px;
  width: 100%;
}

.menu a:hover {
  color: orange;
}

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown-content {
  background-color: black;
  display: none;
  position: absolute;

}

.dropdown:hover .dropdown-content {
  display: block;
  padding-left: 40px;
  padding-right: 50px;
  box-shadow: 2px 2px 3px -1px rgba(255, 255, 255, 1);
  border-radius: 5px;
}

.container {
  display: flex;
  column-gap: 40px;
  padding: 30px;
  margin-top: 100px;
  margin-bottom: 250px;
  height: 100%;
}

.container-element {
  width: 400px;
}

.overview {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-element-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  flex-grow: 8;
}

.cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 40px;
  width: 100%;
  height: 100%;
}

.cont div {
  width: 400px;
}

.container h2 {
  margin-bottom: 20px;
}

.container div {
  height: 400px;
}

.barik img {
  margin-top: 40px;
  margin-left: 50px;
}

.bizkaia img {
  margin-top: 80px;
  margin-left: 60px;
}

.container-element-2 h3 {
  margin-bottom: 10px;
}

.container-element img{
  margin-top: 75px;
  margin-left: 10px;
}
  
.metro-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transport-pictures {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.transport-pictures img {
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.5);
}

.google-maps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

gmp-map {
  margin-top: 20px;
  height: 600px;
  width: 90%;
}


  #scrollBtn {
    all: unset;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(253, 137, 74);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
  }

  footer {
    position: absolute;
    left: 0;
    bottom: auto;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

footer a {
    padding: 15px;
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: orange;
}
